* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    text-align: center;
    background-color: #173B45;
}

h1 {
    color: #F8EDED;
    font-size: 5rem;
    text-shadow: 5px 0 #B8001F;   
}

footer {
    text-align: center;
    font-size: 1rem;
    color: #F8EDED;
    margin-top: 4%;
    margin-bottom: 20px;
    padding: 10px 0;
}

.set {
    margin: 10% auto;
}

.drum {
    outline: none;
    border: 10px solid #FF8225;
    border-radius: 10px;
    font-size: 5rem;
    font-weight: 500;
    line-height: 2;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: #F8EDED;
    color: #FF8225;;
}

.w {
    background-image: url("images/tom1.png");
}

.a {
    background-image: url("images/tom2.png");
}

.s {
    background-image: url("images/tom3.png");
}

.d {
    background-image: url("images/tom4.png");
}

.j {
    background-image: url("images/snare.png");
}

.k {
    background-image: url("images/kick.png");
}

.l {
    background-image: url("images/crash.png");
}

.pressed {
    box-shadow: 0 3px 4px 0 white;
    opacity: 0.5;
}